<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>BinaryView</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">
  <link rel="stylesheet" href="../static/bower_components/jqcloud2/dist/jqcloud.min.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

    <!-- JavaScript -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../static/bower_components/jqcloud2/dist/jqcloud.min.js"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      <a href="/query" style="text-decoration: none;"><h1>Binary View</h1></a>
      <p>View the aggregated classifications and data visualization for the following persona.</p>
      <!-- the person and viz-->
      <div class="row">
          <div class="six columns">
              <h2>{{ person }}</h2>
          </div>
          <div class="six columns">
              <img id="personaImg" src='{{ image }}' alt='{{ person }}' />
          </div>
      </div>

      <!-- wordcloud div -->
      <div id="wordcloud" class="wordcloudstyle jqcloud"></div>

      <div class="u-full-width">
          <p></p>
          <p></p>
          <h4>Having fun? <a href="/query">Classify another Persona!</a></h4>
      </div>

      <!-- change the image size after loading -->
      <script>
        document.getElementById("personaImg").style.maxHeight = "7.5rem";
      </script>

      <!-- get the wordcloud words -->
      <script>
          var words = {{ data|safe }};
      </script>
      <!-- generate the wordcloud -->
      <style>
        .wordcloud {
            width:80%;
        }
      </style>
      <script>
          $(document).ready(function() {
                $('#wordcloud').jQCloud(words, {
                    autoResize: true
                 });
          });
      </script>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>