<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>BinaryView</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">
  <link rel="stylesheet" href="../static/css/custom.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

    <!-- JavaScript -->
    <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.layout.cloud.js') }}"></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      <h1>Binary View</h1>
      <p>View the aggregated classifications and data visualization for the following persona.</p>
      <!-- the person and viz-->
      <div class="row">
          <div class="three columns">
              <h2>{{ person }}</h2>
          </div>
          <div class="nine columns">
              <img id="personaImg" src='{{ image }}' alt='{{ person }}' />
          </div>
      </div>

      <!-- wordcloud div -->
      <div class="row">
          <div class="twelve columns">
              <div id="vis"></div>
          </div>
      </div>

      <div class="u-full-width">
          <h4>Having fun? <a href="/query">Classify another Persona!</a></h4>
      </div>

      <!-- change the image size after loading -->
      <script>
        document.getElementById("personaImg").style.maxHeight = "7.5rem";
      </script>

      <!-- get the wordcloud tags -->
      <script>
          var tags = {{ data|safe }};
      </script>
      <!-- generate the wordcloud -->
      <script type="text/javascript" src="{{ url_for('static', filename='js/word-cloud.js') }}"></script>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>