<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>BinaryView</title>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="../static/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">

      <h1>Binary View</h1>
      <p>We all have our notions about others, especially through real interactions and sensory perceptions, but
          what can machines help us understand about ourselves? Try out the demo below to see aggregated classifications
          of a person's facial images.
      </p>
      <h2>Classify a Persona</h2>
      <p>Enter the name of an individual below to classify images of that person's face and see what machines
          understand about that persona.</p>
      <div class="u-full-width">
          <form action="/classify" method="post">
            <input type="text" name="query" placeholder="persona's name"></input>
            <input class="button-primary" type="submit" value="Classify Person"></input>
          </form>
      </div>
      <h3>Learn More</h3>
      <p>Current image search algorithms utilize metadata, additional data about the image file itself. However,
          a novel technique in machine learning known as deep learning uses artificial intelligence to learn about
          and classify images. This
          <a href="https://github.com/altificial-intelligence/BinaryView" target="_blank">open source program</a>
          utilizes
          <a href="https://developers.google.com/custom-search/" target="_blank">Google Custom Search</a>
          to search for online images of the person's face and
          <a href="http://www.clarifai.com/api" target="_blank">Clarifai</a>
          to classify those images into lists of words, helping us to understand more about online personas.
      </p>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>